body
{   
    

    background-color:rgb(197, 238, 236);

}

h1
{
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
}
h2
{
    text-align: center;
}
